<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-inputs">
      <div class="form-group">
        <%= form.label :Título %>
        <%= form.text_field :title, class: "form-control",id: :post_title, :required => 'required' %>
      </div>

      <div class="form-group">
        <%= form.label :Contenido %>
        <%= form.text_field :content, class: "form-control",id: :post_content , :required => 'required' %>
      </div>

      <div class="form-group">
        <%= form.label :Descripción %>
        <%= form.text_field :description, class: "form-control",id: :post_description , :required => 'required' %>
      </div>

      <% if @creating %>
        <%= form.hidden_field :course_id, :value => @course.id %>
        <%= form.hidden_field :user_id, :value => current_user.id %>
      <% else %>
        <%= form.hidden_field :course_id, :value => @post.course_id %>
        <%= form.hidden_field :user_id, :value => @post.user_id %>
      <% end %>

      <div class="actions">
        <% if @creating %>
          <%= form.submit "Crear Publicación", class: "btn btn-primary" %>
        <% else %>
          <%= form.submit "Actualizar Publicación", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
